$size: 128px;

.controls {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size * 3;
  height: $size * 3;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-areas:
    '. a .'
    'd e b'
    '. c .';
  grid-template-rows: repeat(3, $size);
  grid-template-columns: repeat(3, $size);
}

.ctrl {
  width: $size;
  height: $size;
  border: 0;
  font-family: 'Trebuchet MS';
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: grey(192);
  text-shadow:
    0 0 1px black,
    0 1px 1px black;

  opacity: 0;

  &:hover,
  &:active {
    opacity: 1;
  }

  &.pos {
    &_00 {
      grid-area: a;
    }

    &_01 {
      grid-area: b;
    }

    &_10 {
      grid-area: c;
    }

    &_11 {
      grid-area: d;
    }
  }

  &.type {
    &_base {
      background-color: transparent;
      grid-area: e;
    }

    &_lock {
      background-color: grey(96);
    }
  }
}
