@function grey($value, $opacity: 1) {
  @return rgba($value, $value, $value, $opacity);
}

:root {
  line-height: 1;
  font-family: 'Trebuchet MS';
  font-size: 17px;
  font-weight: 400;

  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px * 4;
  height: 128px * 4;
  flex-wrap: wrap;
  outline: 4px solid grey(64);
  overflow: hidden;
}

$size: 128px;
$depth: 24px;
$border: 4px;

.room {
  color: red;
  background-color: currentColor;
  position: absolute;
  top: 0;
  left: 0;
  width: $size;
  height: $size;
  background-image: conic-gradient(
    from 45deg,
    grey(0, 0.5) 0deg 90deg,
    grey(0, 0.3) 90deg 180deg,
    grey(0, 0.5) 180deg 270deg,
    grey(0, 0.7) 270deg 360deg
  );

  &__title {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    text-shadow:
      0 0 1px black,
      0 1px 2px black,
      0 8px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
  }

  &::before,
  &::after {
    content: '';
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::before {
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    $inner: $size - ($border * 2) - ($depth * 2);
    width: $inner;
    height: $inner;
    background-color: currentColor;
    background-image: radial-gradient(circle, grey(0, 0.1), grey(0, 0.2));
    outline: 2px solid grey(0, 0.1);
    box-shadow:
      0 0 $depth grey(0, 0.4),
      inset 0 0 $depth grey(0, 0.2);
  }

  &::after {
    width: 100%;
    height: 100%;
    border: $border solid currentColor;
    box-shadow: inset 0 0 2px grey(0, 1);
  }

  .doors {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
      circle at center,
      currentColor 20%,
      black 80%
    );
    border: 4px solid black;
    will-change: transform;

    $w: 24px;
    $e: 100%;
    $c: 128px / 2;
    $l: $c - ($w/2);
    $r: $c + ($w/2);

    &.pos {
      &_1010,
      &_0101 {
        clip-path: polygon($l 0, $r 0, $r $e, $l $e);
      }

      &_0101 {
        transform: rotate(90deg);
      }

      &_1000,
      &_0100,
      &_0010,
      &_0001 {
        clip-path: polygon($l 0, $l $c, $r $c, $r 0);
      }

      &_0100 {
        transform: rotate(90deg);
      }

      &_0010 {
        transform: rotate(180deg);
      }

      &_0001 {
        transform: rotate(-90deg);
      }

      &_1100,
      &_0110,
      &_0011,
      &_1001 {
        clip-path: polygon($l 0, $r 0, $r $l, $e $l, $e $r, $l $r);
      }

      &_0110 {
        transform: rotate(90deg);
      }

      &_0011 {
        transform: rotate(180deg);
      }

      &_1001 {
        transform: rotate(-90deg);
      }

      &_1101,
      &_1110,
      &_0111,
      &_1011 {
        clip-path: polygon($l 0, $r 0, $r $l, $e $l, $e $r, 0 $r, 0 $l, $l $l);
      }

      &_1110 {
        transform: rotate(90deg);
      }

      &_0111 {
        transform: rotate(180deg);
      }

      &_1011 {
        transform: rotate(-90deg);
      }

      &_1111 {
        clip-path: polygon(
          $l 0,
          $r 0,
          $r $l,
          $e $l,
          $e $r,
          $r $r,
          $r $e,
          $l $e,
          $l $r,
          0 $r,
          0 $l,
          $l $l
        );
      }
    }
  }
}
