@function grey($value, $opacity: 1) {
  @return rgba($value, $value, $value, $opacity);
}

@mixin absquare($size) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size;
  height: $size;
  transform: translate(-50%, -50%);
}
