:root {
  line-height: 1;
  font-family: 'Trebuchet MS';
  font-size: 17px;
  font-weight: 400;

  background-color: #eee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  display: flex;
  place-items: center;
  width: 100vw;

  height: 100vh;
}

.container {
  width: 800px;
  height: 600px;
}

$p: 8px;
$scale: 7;

.card {
  &:hover {
    outline: 2px solid red;
    cursor: grab;
  }

  user-select: none;

  width: $p * 3 * $scale;
  height: $p * 2 * $scale;
  padding: $p;

  background-color: white;
  border-radius: 7px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow:
    0 0 4px rgba(0, 0, 0, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.2);

  &__body {
    position: relative;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    background-color: #ddd78d;
  }

  &__num {
    font-family: monospace;
    height: 32px;
    line-height: 32px;
    text-align: center;
  }

  &__title {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 4px 8px;
    text-align: center;
    transform: translateY(-50%);
  }

  &__shape.shape {
    position: absolute;
    bottom: 4px;
    right: 4px;
  }
}

.shape {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  outline: 1px solid rgba(0, 0, 0, 0.3);

  &__shell,
  &__body,
  &__core {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  &__core {
    z-index: 2;
    width: 8px;
    height: 8px;
    background-color: black;
  }

  &__body {
    z-index: 1;
    width: 16px;
    height: 16px;
    border: 4px solid black;
  }

  &__shell {
    z-index: 0;
    width: 24px;
    height: 24px;
    border: 4px solid black;
  }
}
