@function grey($value, $opacity: 1) {
  @return rgba($value, $value, $value, $opacity);
}

:root {
  line-height: 1;
  font-family: 'Trebuchet MS';
  font-size: 17px;
  font-weight: 400;

  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 800px;
  height: 600px;
}

$size: 128px;
$depth: 24px;
$border: 4px;

.room {
  position: relative;
  width: $size;
  height: $size;
  border: $border solid black;
  background: conic-gradient(
    from 45deg,
    grey(64) 0deg 90deg,
    grey(96) 90deg 180deg,
    grey(64) 180deg 270deg,
    grey(48) 270deg 360deg
  );

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    $inner: $size - ($border * 2) - ($depth * 2);
    width: $inner;
    height: $inner;
    background-color: grey(96);
    outline: 2px solid grey(0, 0.1);
    box-shadow:
      0 0 $depth grey(0, 0.4),
      inset 0 0 $depth grey(0, 0.2);
  }

  .door {
    position: absolute;
    z-index: 1;
    width: $depth;
    height: $depth;
    background-image: linear-gradient(to bottom, black, grey(112));
    clip-path: polygon(25% 100%, 75% 100%, 100% 0%, 0% 0%);

    &.tp,
    &.bt {
      left: 50%;
      transform: translateX(-50%);
    }

    &.tp {
      top: 4px;
    }

    &.bt {
      bottom: 4px;
      transform: scale(-1) translateX(50%);
    }

    &.lt,
    &.rt {
      top: 50%;
    }

    &.lt {
      left: 4px;
      transform: rotate(-90deg) translateX(50%);
    }

    &.rt {
      right: 4px;
      transform: rotate(90deg) translateX(-50%);
    }
  }
}
